
body{
    
    color: white;
    width: 1920px;
    margin: 0 auto;
    font-family: Georgia;

}

.header{
    
    background-color: #2C2623;
    /* background-image: url(./assets/start-screen-background.jpg); */
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

    height: 48%;
    /* height: 926px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cozy{
    
    width: 1200px;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    
}



.logo-nav{
    display: flex;
    
    height: 61px;
   
    /* margin-left: 360px; */
    vertical-align: middle;
    list-style-type: none;
    /* justify-content: space-between; */

    
}

.list__link{
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    text-decoration: unset;
    border-bottom: 4px solid #F1CDB3;
}

.list__link__disabled{
    color: #cdcdcd;
    border-bottom: none;
    /* text-decoration: unset; */
}

.heder-left{    
    width: 190px;
}

.cozu__house{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-primary */

    color: #F1CDB3;

}
.shelter__for{
    /* logo-subtitle */
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    /* color-light-xl */

    color: #FFFFFF;
    padding-top: 9px;
    padding-left: 3px;
}

.menu{
    display: flex;
    margin-left: 550px;
    min-width: 460px;
}

.list{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-between;
}

.list__item{
    display: flex;
    align-items: center;
}



.block2{
    display: flex; 
    margin-top: 76px;
}
.not-only{
    width: 460px;
    height: 308px;
    margin-top: 166px;
    /* margin-left: 360px; */
    
}
.not-only-title{
    font-size: 44px;
    padding-right: 80px;
    margin-top: -2px;
    line-height: 130%;
}
.not-only-text{
    margin-top: 30px;
    font-family: Arial;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    width: 465px;
    font-weight: 400;
    /* padding-right: -10px; */
}

.hero__button{
    display: flax;
    margin-top: 40px;
    padding: 15px 45px;
    width: 200px;
    height: 52px;
    border-radius: 100px;
    font-size: 17px;
    font-family: Georgia;
    letter-spacing: 0.01em;
    /* font-weight: lighter; */
    line-height: 19px;
    background-color: #F1CDB3;
    border: none;
}



.img-dog{
    /* width: 698px;
    height: 728px; */
    margin-left: 42px;
}

.about-the-shelter{
    display: flex;
    height: 588px;

    /* margin-top: 90px; */

    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.about__pets{
    /* margin-left: 535px; */
    display: flex;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.about__pets img {
    margin: auto ;
    /* margin-left: auto;
    margin-right: auto; */
}

.about__block{
    /* margin-left: 120px; */
    /* display: flex; */
    color: black;

    width: 600px;
    margin-top: auto;
    margin-bottom: auto;
}

.about__block_title{
    display: flex;
    /* align-items: center; */
    width: 400px;
    height: 90px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    
}

.about-block-text-1{
    margin-top: 35px;
    width: 430px;
    height: 72px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}
.about-block-text-2{
    margin-top: 20px;
    width: 430px;
    height: 144px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* or 160% */

    display: flex;
    align-items: center;
}

.our-friends{
    background-color: #F6F6F6;
    height: 877px;
    
    text-align: center;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px auto;
    
}

.our-friends-title{
    padding-top: 80px;

    margin-left: auto;
    margin-right: auto;
    
    width: 400px;
    height: 90px;
    /* pets-heading */

    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    /* about-heading */

    color: #545454;
}

#ar1, #ar2{
    margin-top: auto;
    margin-bottom: auto;
}

#ar1{
    margin-right: 10px;
    
}
#ar2{
    margin-left: 10px;
}

.slider{
    display: flex;
    height: 424px;
    width: 1200px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    background-color: #f6f6f6;
}

.pat__card{
    width: 270px;
    height: 378px;
    background-color: white;
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 9px;
    padding: 30px 35px;

}

.pets__card_title{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    display: flex;
    align-items: center;
    /* text-align: center; */
    letter-spacing: 0.06em;

    /* pets-card-title */

    color: #545454;

    /* pets-card-title */
    width: 100px;
    /* margin-left: auto;
    margin-right: auto; */
    color: #545454;
    margin: 30px auto;

}

.pets__img{
    /* margin-top: 30px;
    margin-bottom: 30px; */
} 

.pets__card_button{
    width: 187px;
    height: 52px;
    border-radius: 100px;    
    background-color: #FFFFFF;
    border: 2px solid #FDDCC4;
    

}



.unchecked__button{
    background-color:white;
}


.btn-text-center{
    text-align: center;
}

.ar{
    
    width: 52px;
    height: 52px;
    border-radius: 100px;
    /* background-color: blue; */
    background-color: #F6F6F6;
    border: 2px solid #FDDCC4;
    vertical-align: middle;

    margin-top: 120px;

}

.arrow{
    margin-top: 22px;
}

.btn_1{    
    width: 259px;
    height: 61px;
    border-radius: 100px;
    font-size: 15px;
    font-family: Arial;
    /* font-weight: lighter; */
    line-height: 24px;
    background-color: #ffffff;
    border: 2px solid #FDDCC4;

    margin-top: 60px;
    margin-bottom: 0px;    
}

.btn_active{
    background-color: #F1CDB3;
    border: 2px solid #F1CDB3;
}

.than-you-can-help{
    height: 611px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.then-your-title{
    width: 318px;
    height: 90px;


    /* help-heading */

    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    /* help-heading */

    color: #545454;
    margin-bottom: 60px;
}



.list-1, .list-2{
    display : flex;
    height: 140px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.list-2{
    justify-content: space-around;
}


.card__pet_item{
    display: inline-block;
    /* min-width: 2px; */
    min-height: 113px;
    /* margin-left: 60px; */
    margin-bottom: 60px;
    text-align: center;
}

.card__pet_item p{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    /* help-icons-text */

    color: #545454;
}
.in__addition{
    display: flex;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    color:  #545454;

    
    background-color: #F6F6F6;
}

.in-addition-child{
    display: flex;

    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: #F6F6F6;
    height: 462px;

}

.about__pets, .about__block{
    width: 600px;
}



.about__block_text_1{
    width: 307px;
    height: 17px;
    
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 17px */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    
    /* donation-subheading */
    
    color: #545454;

    margin-top: 35px;
}


.credit_card{
    margin-top: 20px;
}


.about__block_text_2{
    width: 380px;
    height: 72px;

    
    /* donation-description */
    
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    
    display: flex;
    align-items: center;
    
    /* donation-description */
    
    color: #B2B2B2;
    margin-top: 25px;

}

.about__block_title{
    width: 360px;
    height: 90px;

    /* donation-title */

    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */


    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* donation-title */

    color: #545454;
}

.credit_card{
    display: flex;
    border: none;
    width: 323px;
    height: 43px;
    border-radius: 10px;
    background-color: #F1CDB3;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    
}
.num__donat{
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* donation-credit-card-number */

    color: #292929;
}



.footer{
    /* background-color: #2E2726; */
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    padding-top: 60px;
    height: 315px;
    width: 1920px;
}

.footer__child{
    display: flex;

    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 354px;
    /* background-color: #2E2726; */
    /* background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20; */
    justify-content: space-between;

}

.footer__card{
    width: 33%;
    color: white;
    /* margin-left: auto;
    margin-right: auto; */
}


.footer__card_title{
    width: 278px;
    height: 90px;


    /* footer-titles */

    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */

    letter-spacing: 0.02em;

    color: #FFFFFF;
    margin-bottom: 33px;

   
}

.footer-card-text{
    

}

.footer__card_email{
    display: flex;
    border: none;
    width: 323px;
    height: 43px;
    border-radius: 10px;
    padding-right: 10px;
    /* justify-content: space-around; */
    align-items: center;
    

}
.mail{
    display: flex;
    /* width: 174px; */
    height: 23px;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    letter-spacing: 0.06em;

    /* base-pink */

    color: #F1CDB3;
    align-items: center;
    vertical-align: middle;
    /* justify-content: space-around; */
    /* margin-bottom: 60px; */
}

.mail_img{
    vertical-align: middle;
    margin:0 0 0 0;
    margin-right: 40px;
}

.mail_bottom_33{
    margin-bottom: 33px;
}
.mail_bottom_60{
    margin-bottom: 60px;
}

.arr{
    margin-top: 150px;
}


/* интерактивность */

.ar :hover{
    background-color: #FDDCC4;
    cursor: pointer;
}

.btn :hover{
    background-color: #FDDCC4;
    cursor: pointer;
}

.btn__make_a_friends :hover{
    cursor: pointer;
    /* background-color: red; */
    background-color: #FDDCC4;
}

.list__item :hover{
    color: #FAFAFA;
}

.pat__card :hover{
    cursor: pointer;
}

.card__link{
    text-decoration: unset;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */

   
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
}

.footer__card_email{
    text-decoration: none;
}